{% extends 'base.html' %}
{%block title %}about{% endblock %}
{% load static%}
{% block content %}

  <h1 class="about text-center">About Us</h1>
  <p>Dhaara, one of Kochi’s top salons, is owned and operated by Veena Viswanath. It is your ultimate destination for all things stylish and glamorous. Dhaara is regarded as one of the best unisex salons in Kochi and has locations in Angamaly. Dhaara strives to offer top-notch services and goods to its clients. A Variety Of Beauty Services Are Offered. Dhaara Is Working Slowly To Establish Itself As Cochin’s Best Bridal Beauty Salon. In order to help you look and become your very best, we at Dhaara believe in complete transparency. We work hard to ensure that you have a relaxing experience at our beauty salon and leave feeling refreshed and energised.


</p>
<div class="about_image float_left">
    <img src="/static/image/about.jpeg/" alt="" height="1000px">
    <br><br>
    <img src="/static/image/beauty10.jpeg/" alt="" height="800px">

</div>

 {% endblock %}
